@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

#content {
  /* Place everything on same layer so that we can place backdrop elements behind */
  z-index: 1;

  /* Center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: rgba(25, 138, 225, 1);
}

h1 {
  font-family: "Tiny5", sans-serif;
  font-size: 4rem;
  text-align: center;

  -webkit-text-stroke: 20px rgba(19, 26, 54, 1);
  paint-order: markers stroke fill;
}

h2 {
  /* Make fully bold */
  font-style: bold;
  font-weight: 800;

  font-size: 2.25rem;
}

h3 {
  /* Make semibold */
  font-style: bold;
  font-weight: 600;

  font-size: 1.25rem;
}

p {
  /* Make normal */
  font-style: normal;
  font-weight: 400;
}

b {
  /* Make fully bold */
  font-style: bold;
  font-weight: 800;
}

p,
b,
a,
h1,
h2,
h3 {
  color: white;
}

img {
  /* Style alt text */
  font-family: "Funnel Sans", sans-serif;
  color: white;
}

/* Text */

.center-text {
  text-align: center;
}

.larger-text {
  font-size: 1.6rem;
}

.largest-text {
  font-size: 2rem;
}

/* Width + height */

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.min-content-width {
  min-width: min-content;
}

.min-content-height {
  min-width: min-content;
}

/* Custom text */

.tiny5 {
  font-family: "Tiny5", sans-serif;
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
}

/* Background colors */

.dark-blue-bg {
  background: rgba(19, 26, 54, 1);
}

.red-bg {
  background-color: rgba(196, 59, 93, 1);
}

.blue-bg {
  background-color: rgba(25, 138, 225, 1);
}

.green-bg {
  background-color: rgba(49, 163, 121, 1);
}

.yellow-bg {
  background-color: rgba(255, 156, 51, 1);
}

.purple-bg {
  background-color: rgba(116, 59, 237, 1);
}

/* Foreground colors */

.red-fg {
  color: red;
}

.white-fg {
  color: white;
}

.dark-blue-fg {
  color: rgba(19, 26, 54, 1);
}

/* Flex display modes */

.flex-container,
.flex-centered-all,
.flex-centered-v,
.flex-centered-h,
.flex-col,
.flex-row,
.gapped {
  display: flex;
}

.flex-centered-all {
  align-items: center;
  justify-content: center;
}

.flex-centered-h {
  justify-content: center;
}

.flex-centered-v {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Grid display modes */

.grid2x2 {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;

  width: 90%;
}

@media (min-width: 1000px) {
  .grid2x2 {
    width: 60%;
  }
}

.square {
  aspect-ratio: 1/1;
}

.include-padding {
  /* Include padding in width + height */
  box-sizing: border-box;
}

/* Gaps */

.gapped {
  gap: 8px;
}

.gapped-more {
  gap: 20px;
}

/* Frame */

.padding-frame {
  padding: 15px;
}

/* Top margin */
/* This is some really, really awful CSS practice, I think... 
/* Oh well! We learn as we go :] */

.top-margin {
  /* Give initial offset so it pushes everything a bit down */
  margin-top: 50px;
}

.slight-top-margin {
  margin-top: 25px;
}

.slighter-top-margin {
  margin-top: 8px;
}

/* Bullet points */

.bulleted-list-item {
  list-style-type: square;
  list-style-position: inside;

  color: white;
}

/* Walled list (for navbar) */

.walled-list-item {
  --border-color: #020a0f;

  /* Add wall in between this and next item */
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

/* Ensure walled list only draw walls between items, not at ends */

.walled-list> :first-child {
  border-left: none;
}

.walled-list> :last-child {
  border-right: none;
}

/* Image rendering */

.pixelated {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;
}

.crop-to-fit {
  object-fit: cover;
}

/* Animation */

.selectable {
  cursor: pointer;
  transition: color 0.5s ease, transform 0.2s ease;
}

.select-yellow:hover {
  color: yellow;

  /* Keep top so we can click it */
  z-index: 999;
}

.select-grow:hover {
  transform: scale(120%);
}

.select-grow-less:hover {
  transform: scale(105%);
}

.select-grow-text:hover {
  font-size: 130%;
}

/* Specific */

.project-heading {
  height: 40px;

  /* Make text smaller for better fit */
  font-size: 1.15rem;

  /* Make it cushy */
  padding: 5px;
}

#profile-name {
  /* Makes name overlap with picture a bit */
  margin-top: -50px;

  /* Makes name be above last name */
  width: 50%;

  /* Make text a bit more header-y */
  line-height: 90%;
  font-size: 4.5rem;
  -webkit-text-stroke: 40px rgba(19, 26, 54, 1);
}

#profile-title {
  /* These are random to make it look good lol */
  font-size: 3rem;
  -webkit-text-stroke: 15px rgba(19, 26, 54, 1);
  letter-spacing: -3px;
  color: yellow;
}

#navbar {
  /* Own positioning*/
  position: fixed;

  /* Cover full screen; take consistent amt. of vertical height */
  width: 100vw;
  height: 30px;

  /* Place above everything else! */
  /* Override precedence of more specific setting */
  z-index: 999 !important;
}

#clouds {
  position: fixed;

  width: 100%;
  height: 100%;

  /* Ensure is at very, very back! */
  z-index: -999;
}

#clouds>* {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;

  /* Position independently */
  position: absolute;

  /* Use center as pivot point */
  transform: translate(-50%, -50%);

  /* Place behind */
  z-index: 0;
}

#clouds> :nth-child(1) {
  /* NOTE: n-th child select siblings; this is how you select from parent! */
  top: 15%;
  left: 15%;
}

#clouds> :nth-child(2) {
  top: 50%;
  left: 85%;
}

#clouds> :nth-child(3) {
  top: 90%;
  left: 20%;

  /* Flip it! */
  transform: translate(-50%, -50%) scaleX(-1)
}

/* Move odd left, even right */

#about-list> :nth-child(odd) {
  transform: translateX(8%) rotate(3deg);
}

#about-list> :nth-child(even) {
  transform: translateX(-8%) rotate(-1deg);
}

#beach-footer {
  margin-top: 4%;
  position: absolute;
  z-index: -400;
}

#bg-ocean {
  height: 200px;
}

#bg-sand {
  /* Accidental, but makes it look like we're going closer to sand when zooming in! */
  height: 30px;
}

@media (max-width: 700px) {

  #langs-list,
  #about-list,
  .experience-card {
    width: 80%;
  }

  .grid2x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bw-hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.bw-hover:hover {
  filter: none;
}

.border-hover {
  border: none;
  transition: border 0 ease;
}

.border-hover:hover {
  border: 5px solid white;
}

.light-stroke {
  -webkit-text-stroke: 5px #12578c;
  paint-order: markers stroke fill;
}
