@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

#glob-parent {
  gap: 30px;

  /* Place everything on same layer so that we can place backdrop elements behind */
  z-index: 1;
}

body {
  background-color: rgba(25, 138, 225, 1);
}

h1 {
  font-family: "Tiny5", sans-serif;
  font-size: 4rem;
  text-align: center;

  -webkit-text-stroke: 20px rgba(19, 26, 54, 1);
  paint-order: markers stroke fill;
}

h2 {
  /* Make fully bold */
  font-style: bold;
  font-weight: 800;

  font-size: 2.25rem;
}

h3 {
  /* Make semibold */
  font-style: bold;
  font-weight: 600;

  font-size: 1.25rem;
}

p {
  /* Make normal */
  font-style: normal;
  font-weight: 400;
}

b {
  /* Make fully bold */
  font-style: bold;
  font-weight: 800;
}

p,
b,
a,
h1,
h2,
h3 {
  color: white;
}

img {
  /* Style alt text */
  font-family: "Funnel Sans", sans-serif;
  color: white;
}

/* Width + height */

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

/* Custom text */

.tiny5 {
  font-family: "Tiny5", sans-serif;
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
}

/* Background colors */

.dark-blue-bg {
  background: rgba(19, 26, 54, 1);
}

.red-bg {
  background-color: rgba(196, 59, 93, 1);
}

.blue-bg {
  background-color: rgba(25, 138, 225, 1);
}

.green-bg {
  background-color: rgba(49, 163, 121, 1);
}

.yellow-bg {
  background-color: rgba(255, 156, 51, 1);
}

/* Foreground colors */

.white-fg {
  color: white;
}

/* Flex display modes */

.flex-container,
.flex-centered-all,
.flex-centered-v,
.flex-centered-h,
.flex-col,
.flex-row,
.gapped {
  display: flex;
}

.flex-centered-all {
  align-items: center;
  justify-content: center;
}

.flex-centered-h {
  justify-content: center;
}

.flex-centered-v {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Grid display modes */

.grid2x2 {
  display: grid;

  /* 2x2 grid */
  grid-template-rows: repeat(2, 1fr);
  /* Take up 1 fraction of the available space */
  grid-template-columns: repeat(2, 1fr);
}

.include-padding {
  /* Include padding in width + height */
  box-sizing: border-box;
}

/* Gaps */

.gapped {
  gap: 8px;
}

.gapped-more {
  gap: 20px;
}

/* Frame */

.padding-frame {
  padding: 15px;
}

/* Margin */

.top-margin {
  /* Give initial offset so it pushes everything a bit down */
  margin-top: 50px;
}

/* Bullet points */

.bulleted-list-item {
  list-style-type: square;
  list-style-position: inside;

  color: white;
}

/* Walled list (for navbar) */

.walled-list-item {
  --border-color: #020a0f;

  /* Add wall in between this and next item */
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

/* Ensure walled list only draw walls between items, not at ends */

.walled-list> :first-child {
  border-left: none;
}

.walled-list> :last-child {
  border-right: none;
}

/* Image rendering */

.pixelated {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;
}

/* Specific */

#profile-name {
  /* Makes name overlap with picture a bit */
  margin-top: -50px;

  /* Makes name be above last name */
  width: 50%;

  /* Make text a bit more header-y */
  line-height: 90%;
  font-size: 4.5rem;
  -webkit-text-stroke: 40px rgba(19, 26, 54, 1);
}

#navbar {
  /* Own positioning*/
  position: fixed;

  /* Cover full screen; take consistent amt. of vertical height */
  width: 100%;
  height: 30px;

  /* Place above everything else! */
  /* Override precedence of more specific setting */
  z-index: 999 !important;
}

#clouds {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#clouds>* {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;

  /* Position independently */
  position: absolute;

  /* Use center as pivot point */
  transform: translate(-50%, -50%);

  /* Place behind */
  z-index: 0;
}

#clouds> :nth-child(1) {
  /* NOTE: n-th child select siblings; this is how you select from parent! */
  top: 15%;
  left: 15%;
}

#clouds> :nth-child(2) {
  top: 50%;
  left: 85%;
}

#clouds> :nth-child(3) {
  top: 90%;
  left: 20%;

  /* Flip it! */
  transform: translate(-50%, -50%) scaleX(-1)
}

/* Move odd left, even right */

#about-list> :nth-child(odd) {
  transform: translateX(8%)
}

#about-list> :nth-child(even) {
  transform: translateX(-8%)
}
