@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

body {
  background-color: rgba(25, 138, 225, 1);
}

h1 {
  font-family: "Tiny5", sans-serif;
  font-size: 4rem;
  text-align: center;

  color: white;

  -webkit-text-stroke: 20px rgba(19, 26, 54, 1);
  paint-order: markers stroke fill;
}

b {
  font-style: bold;
  font-weight: bold;
}

#glob-parent {
  gap: 30px;
}

#glob-parent>* {
  /* Place everything on same layer so that we can place backdrop elements behind */
  z-index: 1;
}

/* Begin flex display modes */

.flex-container,
.flex-centered-all,
.flex-centered-v,
.flex-centered-h,
.flex-col,
.flex-row,
.gapped {
  display: flex;
}

.flex-centered-all {
  align-items: center;
  justify-content: center;
}

.flex-centered-h {
  justify-content: center;
}

.flex-centered-v {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gapped {
  gap: 8px;
}

.gapped-more {
  gap: 20px;
}

/* Grid display */

.grid {
  display: grid;

  /* 3x3 grid */
  grid-template-rows: repeat(2, 350px);
  grid-template-columns: repeat(2, 350px);
}

.grid-item {
  /* Take up full space given by grid */
  width: 100%;
  height: 100%;

  /* Include padding in width + height */
  box-sizing: border-box;
}

/* Text */

.pixel-body-text {
  font-family: "Tiny5", sans-serif;
  color: white
}

.normal-body-text {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.semibold-text {
  font-style: bold;
  font-weight: 600;
}

.bold-text {
  font-style: bold;
  font-weight: 800;
}

.text-big {
  font-size: 1.75rem;
}

.text-medium {
  font-size: 1.25rem;
}

.image-frame {
  /* Frame color */
  background-color: rgba(19, 26, 54, 1);

  /* Frame itself */
  padding: 15px;
}

.language-list {
  /* Frame */
  background-color: rgba(19, 26, 54, 1);
  padding: 10px;

  /* Make container as big as content */
  width: min-content;
}

.about-info {
  /* Background */
  background-color: rgba(19, 26, 54, 1);
  padding: 10px;

  width: 40%;
  height: min-content;
}

.experience {
  /* Background */
  background-color: rgba(19, 26, 54, 1);
  padding: 20px;

  /* Make text box as big as text inside it */
  width: 40%;
  height: min-content;

  list-style-type: none;
}

.experience-content {
  width: 100%;
}

.profile {
  /* Give initial offset so it pushes everything a bit down */
  margin-top: 50px;
}

.profile-name {
  margin-top: -50px;
  /* Makes name overlap with picture a bit */
  width: 50%;
  /* Makes name be above last name */

  /* Make a bit more header-y */
  line-height: 90%;
  font-size: 4.5rem;
  -webkit-text-stroke: 40px rgba(19, 26, 54, 1);
}

.project {
  /* Background */
  background-color: rgba(19, 26, 54, 1);

  /* Give everything a frame */
  padding: 15px;
}

.project-heading {
  /* Span full block and be .2 the height of container */
  width: 100%;
  height: 25%;
}

.project-desc {
  /* Fill out remainder of space */
  width: 100%;
  height: 10%;

  text-align: center;
}

.project-img {
  /* Fill all available space */
  width: 100%;
  height: 100%;
}

.example-color {
  background-color: rgba(50, 177, 111, 1)
}

.bulleted-list-item {
  list-style-type: square;
  list-style-position: inside;

  color: white;
}

.navbar {
  position: fixed;

  /* Cover full screen; take consistent amt. of vertical height */
  width: 100%;
  height: 30px;

  background-color: rgba(19, 26, 54, 1);

  z-index: 999 !important;
  /* Override precedence of more specific setting */
}

.navbar-item {
  /* Fill out navbar */
  width: 100%;
  height: 100%;

  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.navbar-list> :first-child {
  border-left: none;
}

.navbar-list> :last-child {
  border-right: none;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.clouds {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.clouds>* {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;

  /* Position independently */
  position: absolute;

  /* Use center as pivot point */
  transform: translate(-50%, -50%);

  /* Place behind */
  z-index: 0;
}

.clouds> :nth-child(1) {
  /* NOTE: n-th child select siblings; this is how you select from parent! */
  top: 15%;
  left: 15%;
}

.clouds> :nth-child(2) {
  top: 50%;
  left: 85%;
}

.clouds> :nth-child(3) {
  top: 90%;
  left: 20%;

  /* Flip it! */
  transform: translate(-50%, -50%) scaleX(-1)
}

/* Colors, there might be a better way to do this... */

.bg-red {
  background-color: rgba(196, 59, 93, 1);
}

.bg-blue {
  background-color: rgba(25, 138, 225, 1);
}

.bg-green {
  background-color: rgba(49, 163, 121, 1);
}

.bg-yellow {
  background-color: rgba(255, 156, 51, 1);
}

.pixelated {
  /* Nearest-neighbor resizing */
  image-rendering: pixelated;
}

/* Move odd left, even right */
.about-list> :nth-child(odd) {
  transform: translateX(8%)
}

.about-list> :nth-child(even) {
  transform: translateX(-8%)
}
